@import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&family=Protest+Riot&family=Protest+Strike&display=swap');
.row
{
    text-align: center;
}



.head {
    border-width: 8px 0px;
    border-style: solid;
    padding: 8px 0px;
    margin-bottom: 8px;
    font-family: 'Protest Strike', sans-serif;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color:#E0DFA9;
}
